﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ViewTest.aspx.cs" Inherits="Ubilingua.ViewTest" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <br />

    <iframe runat="server" id="frame" height="500" width="100%"></iframe>


</asp:Content>
